<div class="container">
    <div class="row justify-content-center ">
        <div class="col-md-6 mt-6">
            <div class="card mt-5 animate__animated animate__fadeIn">
              <div class="card-header">
              SignUp
              </div>
              <div class="card-body">
                <form>
                    <div class="mb-3">
                        <label for="Name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="email"  required="required">
                      </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email"  required="required">
                  </div>
                  <div class="mb-3">
                    <label for="mobile" class="form-label">Mobile</label>
                    <input type="tel" class="form-control" id="phoneNum" required="required">
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" required="required">
                  </div>
                  <div class="mb-3">
                    <label for="Confmpassword" class="form-label">ConfirmPassword</label>
                    <input type="password" class="form-control" id="Confirmpassword" required="required">
                  </div>
                  <div class="card-foot" style="display: flex;justify-content: center">
                    <div class="mb-3 mt-3">
                        <button type="submit" class="btn btn-primary">Submit</button>

                    </div>
                      
                     
                    </div>
                 
                </form>
              </div>
            </div>
          </div>
        
        </div>
        
    </div>       

